<div class="modification ui-g">
    <form [formGroup]="modForm" novalidate (ngSubmit)="save(modForm.value, modForm.valid)">
        <div class="ui-fluid">
            <div class="ui-g-12">
                <div class="ui-g-6 input">
                    <span class="ui-float-label">
                        <input id="name-float-input" type="text" pInputText formControlName="name" />
                        <label for="name-float-input">Name</label>
                    </span>
                    <small class="input__error" *ngIf="modForm.controls.name.dirty && modForm.controls.name.invalid">
                        Name must be a string
                    </small>
                </div>

                <div class="ui-g-6">
                    <span class="ui-float-label">
                        <input type="text" pInputText formControlName="phoneNum" />
                        <label for="name-float-input">Phone number</label>
                    </span>
                    <small class="input__error" *ngIf="modForm.controls.phoneNum.dirty && modForm.controls.phoneNum.invalid">
                        Phone number must be numbers
                    </small>
                </div>

                <div class="ui-g-12 input">
                    <span class="ui-float-label">
                        <input type="text" pInputText formControlName="address" />
                        <label for="name-float-input">Address</label>
                    </span>
                    <small class="input__error" *ngIf="modForm.controls.address.dirty && modForm.controls.address.invalid">
                        Address must be a string
                    </small>
                </div>
            </div>
        </div>

        <div class="btns">
            <button pButton type="button" class="btns__cancel ui-button-secondary" label="Cancel" (click)="closeDialog.emit()"></button>
            <button pButton type="button" class="btns__submit" label="Submit" [disabled]="!modForm.valid" type="submit"></button>
        </div>
    </form>
</div>