@import '../../assets/_variables.scss';

.header {
    background-color: $primary-color;
    padding: $space10;
    display: flex;
    align-items: center;
    a {
        float: left;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: $header-fontsize;
        line-height: $line-height;
        border-radius: $border-radius;
        padding: $space10;
        &.logo {
            font-size: 1.5rem;
            font-weight: bold;
        }
        &.active {
            background-color: deepskyblue;
        }
        &:hover {
            background-color: lightslategray;
        }
    }
    &__left {
        display: inline-block;
        margin-left: $space30;
    }
    
}