<div  class="modification ui-g">
    <form [formGroup]="modForm" novalidate (ngSubmit)="save(modForm.value, modForm.valid)">
        <div class="ui-fluid">
            <div class="ui-g-12">
                <ng-template ngFor let-question [ngForOf]="questions" let-i="index">
                    <div class="input" [ngClass]="{ 'ui-g-6': i !== 2, 'ui-g-12': i === 2 }">
                        <app-dynamic-form-question [question]="question" [form]="modForm"></app-dynamic-form-question>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="btns">
            <button pButton type="button" class="btns__cancel ui-button-secondary" label="Cancel" (click)="closeDialog.emit()"></button>
            <button pButton type="button" class="btns__submit" label="Submit" [disabled]="!modForm.valid" type="submit"></button>
        </div>
    </form>
</div>