@import '../../../assets/_variables.scss';

.modification {
    form {
        .input {
            padding-bottom: $space15;
            &__error {
                color: #cd0a0a;
            }
        }
        .btns {
            float: right;
            padding-right: $space15;
            &__cancel {
                margin-right: $space5;
            }
        }
        
    }
}