<div class="customers">
    <button mat-raised-button color="accent" (click)="openAdditionDialog()">Add Customer</button>

    <mat-form-field>
        <input matInput placeholder="Search" value="{{ searchKeyword }}">
    </mat-form-field>

    <mat-table [dataSource]='customers | async'>
        <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phoneNum">
            <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.phoneNum}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.address}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="modification">
            <mat-header-cell *matHeaderCellDef> Edit / Delete </mat-header-cell>
            <mat-cell *matCellDef="let customer">
                <button class="edit-btn" mat-icon-button (click)="openEditDialog(customer)">
                    <mat-icon>build</mat-icon>
                </button>

                <button class="delete-btn" mat-icon-button (click)="deleteCustomer(customer)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    </mat-table>
</div>