@import '../../assets/_variables.scss';
.customers {
    .mat-table {
        clear: both;
        .mat-column-modification {
            .edit-btn.mat-icon-button {
                margin-right: $space15;
            }
        }
    }
    .mat-form-field {
        float: right;
    }
}