<p-card title="Customers">
    <div class="customers ui-g">
        <div class="ui-g-12">
            <button pButton type="button" label="Add customer" (click)="openModificationDialog('Add customer')"></button>

            <div class="table-search ui-g-4 ui-g-nopad">
                <i class="fa fa-search ui-g-1"></i>
                <input class="ui-g-11" type="text" pInputText size="50" placeholder="Search here" (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
        </div>

        <div class="ui-g-12">
            <p-table #dt [columns]="tableCols" [value]="documents | async" sortMode="multiple">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field !== 'modification' && col.field">
                            {{col.header}}
                            <p-sortIcon *ngIf="col.field !== 'modification'" [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <span *ngIf="col.field !== 'modification'; else modCell">
                                {{ customer[col.field] }}
                            </span>
                            <ng-template #modCell>
                                <button pButton type="button" class="edit-btn" (click)="openModificationDialog('Edit customer', customer)" icon="fas fa-edit"></button>
                                <button pButton type="button" class="delete-btn" (click)="deleteDocument(customer, 'customers')" icon="fas fa-trash"></button>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>

<p-dialog [header]="dialogTitle" [(visible)]="showDialog" [width]="500">
    <app-modification [customer]="editedDocument" (saveModification)="saveModification($event, 'customers')" (closeDialog)="showDialog = false"></app-modification>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>