<div class="orders">
  <h1>Create orders</h1>

  <div class="ui-g ui-fluid">
    <h3 class="ui-g-12 title">
      <i class="fas fa-user title__icon"></i>
      <span class="title__text">Select customer</span>
    </h3>

    <div *ngIf="customers" class="ui-g-12">
      <p-autoComplete [(ngModel)]="customer" [suggestions]="filteredCustomers" field="name" [dropdown]="true" [minLength]="1" placeholder="Search here"
        (completeMethod)="searchCustomer($event)">
        <ng-template let-filteredCustomer pTemplate="item">
          {{ filteredCustomer.name }}
        </ng-template>
      </p-autoComplete>
    </div>

    <div *ngIf="customer?.id">
      <h3 class="ui-g-12 title">
        <i class="fas fa-birthday-cake title__icon"></i>
        <span class="title__text">Select product</span>
      </h3>

      <div *ngIf="products" class="ui-g-12">
        <p-card>
          <div class="ui-g order">
            <div class="ui-g-12 order__category">Name</div>
            <div class="ui-g-12 order__content">
              <p-autoComplete [(ngModel)]="product" [suggestions]="filteredProductNames" (completeMethod)="searchProduct($event)" [dropdown]="true"
                [minLength]="1" placeholder="Search here" (onSelect)="onProductSelect($event)">
              </p-autoComplete>
            </div>

            <ng-template [ngIf]="productSizes.length > 0">
              <div class="ui-g-12 order__category">Size</div>
              <div class="ui-g-12 order__content-wrapper">
                <div *ngFor="let size of productSizes" class="ui-g-3 order__content size" [ngClass]="{'size--selected': selectedSize === size}"
                  (click)="selectSize(size)">
                  <div *ngIf="size !== 'cup'; else cupImg" class="fas fa-circle size__icon size__icon--{{ size.substring(0, 2) }}"></div>

                  <ng-template #cupImg>
                    <img class="size__img" src="../../assets/images/{{ selectedSize && selectedSize === size ? 'cupcake-white.png' : 'cupcake.png' }}"
                      alt="Cupcake Img" height="30">
                  </ng-template>

                  <div class="size__text">{{size}}</div>
                </div>
              </div>
            </ng-template>

            <ng-template [ngIf]="price">
              <div class="ui-g-3 order__category">Price</div>
              <div class="ui-g-9 order__content-wrapper">{{ price }}</div>
            </ng-template>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>