<p-card title="Products">
    <div class="products ui-g">
        <div class="ui-g-12">
            <button pButton type="button" label="Add product" (click)="openModificationDialog('Add product')"></button>

            <div class="table-search ui-g-4 ui-g-nopad">
                <i class="fa fa-search"></i>
                <input class="ui-g-12" type="text" pInputText size="50" placeholder="Search here" (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
        </div>

        <div class="ui-g-12">
            <p-table #dt [columns]="tableCols" [value]="documents | async" sortMode="multiple">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field !== 'modification' && col.field">
                            {{col.header}}
                            <p-sortIcon *ngIf="col.field !== 'modification'" [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <span *ngIf="col.field !== 'modification'; else modCell">
                                {{ product[col.field] }}
                            </span>
                            <ng-template #modCell>
                                <button pButton type="button" class="edit-btn" (click)="openModificationDialog('Edit product', product)" icon="fas fa-edit"></button>
                                <button pButton type="button" class="delete-btn" (click)="deleteDocument(product, 'products')" icon="fas fa-trash"></button>
                            </ng-template>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>