$primary-color: rgb(35, 153, 229);

$line-height: 1.5em;
$border-radius: 3px;

$header-fontsize: 1em;
$header-padding: .625em 1em;

$content-fontsize: 1em;
$content-padding: .625em 1em;

$input-header-fontsize: 1em;
$input-header-padding: .625em 1em;

$input-fontsize: 1em;

$button-fontsize: 1em;

$input-option-fontsize: 1em;
$input-option-padding: .625em .875em;

$space5: .3125rem;
$space10: .625rem;
$space15: 1.07rem;
$space30: 2.14rem;
$space45: 2.8125rem;