/* You can add global styles to this file, and also import other style files */

@import '../src/assets/_variables.scss';
body {
  margin: 0;
}

.ui-table {
  .edit-btn {
    margin-right: $space15;
  }
  &-tbody {
    >tr td:nth-child(4) {
      text-align: right;
    }
  }
}

// fix issue where the button width equals the whole container width
.ui-fluid {
  .ui-button {
    width: auto;
  }
}

.add-btn {
  &.ui-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    .ui-button-icon-left {
      font-size: 1.25rem;
    }
  }
}

.customers,
.products {
  position: relative;
  &__sort {
    display: flex;
    justify-content: flex-end;
  }
}